
@model IEnumerable<EmployeeLogTimeForm.DAL.Data.Model.LogTimeForm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobInfo)
            </th>
            <th>
                Client Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillableStatus)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectInfo.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobInfo.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectInfo.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectInfo.BillableStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
